a:hover {
    color: #00ff00
}


h2 {
    text-decoration: underline;
}

p {
   line-height: 1.8;
   margin: 0%;
}

h2 { text-align: center }

.class1 { list-style-type: circle; }

h2 {
    background-color: #ADD8E6;
    color: #256579;
    font: 1.6em Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 0.2em;
  }

.class1 {
    background-color: #ADD8E6;
    color: #256579;
    font: 1.6em Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 0.2em;
  }

.class1 {
    font-size: medium;
} 

li:first-child {
    color: red;
  }

form {
     text-align: center 
}

input.knopka {
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: rgb(212,75,56); 
    padding: .7em 1.5em; 
    outline: none; 
     } 
      input.knopka:hover { background: rgb(2, 213, 250); } 
      input.knopka:active { background: rgb(36, 7, 206); } 

.ramka {

    border-bottom:2px solid #000000;
        
    border-left:1px dotted green;
        
    border-right:1px dotted green;
        
    border-top:1px solid gray;
        
    padding:20px 30px 40px 10px;

    text-align: center
        
    }

.ramka {
    font-size: 30px;
}

.obtekanie{
    float:right;
    margin: 50px 50px 20px 50px;
    opacity: 0.4;
    }

.pose {
 background: #fc0; 
 margin-left: 1em; 
}

body{
    background-image: url("../img/ep_naturalwhite.png");
   }
   header{
    margin-top: 50px;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
   }
   .dws-menu *{
    margin: 0;
    padding: 0;
   }
   .dws-menu ul,
   .dws-menu ol{
    list-style: none;
   }
   .dws-menu > ul{
    display: flex;
    justify-content: center;
   }
   .dws-menu > ul li{
    position: relative;
    border-right: 1px solid #2557bd;
   }
   .dws-menu > ul li:first-child{
    border-left: 1px solid #2557bd;
   }
   .dws-menu > ul li:last-child{
    border-right: 1px solid #2557bd;
   }
   .dws-menu > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
   }
   .dws-menu > ul li a{
    display: block;
    
    background: #2557bd; 
    background: -moz-linear-gradient(top,  #2557bd 0%, #2557bd 2%, #2557bd 98%, #2557bd 66%); 
    background: -webkit-linear-gradient(top,  #2557bd 0%,#2557bd 2%,#2557bd 98%,#2557bd 66%); 
    background: linear-gradient(to bottom,  #2557bd 0%,#2557bd 2%,#2557bd 98%,#2557bd 66%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); 
   
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.3s ease;
   }
   .dws-menu li a:hover{
    
    background: rgb(224,225,229); 
    background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); 
    background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); 
   
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
   }
   

   .dws-menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
   }
   .dws-menu li > ul li{
    border: 1px solid #c7c8ca;
   }
   .dws-menu li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
   }
   .dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
   }
   .dws-menu li:hover > ul{
    display: block;
   }

html {
    background-image: url(https://w-dog.ru/wallpapers/10/0/432768716421349.jpg);
}

html {
    background-attachment: url(https://w-dog.ru/wallpapers/10/0/432768716421349.jpg);
}